#menu_vert {
   margin-left: 1px;
   margin-right: 1px;
   z-index:1;
}
/* The wrapper clears the floating elements of the menu */
/* Fix for Opera 8 */
.clearb { clear: both; }
#menuwrapper { 
   /* Fix for Opera 8 */ 
   /*   overflow: hidden;  */ 
   width: 100%;
}

/* Set the width of the menu elements at second level. Leaving first level flexible. */
#primary-nav li li { 
   width: 100px; 
}
/* Unless you know what you do, do not touch this */ 
#primary-nav, #primary-nav ul { 
   list-style: none; 
   margin: 0px; 
   padding: 0px; 
}
#primary-nav ul { 
   position: absolute; 
   top: auto; 
   display: none; 
   border:1px solid #A0B3D9;
}
#primary-nav ul ul { 
 
}
	
#primary-nav li { 
   margin-left: -1px;
   float: left; 
}
#primary-nav li li { 
   margin-left: 0px;
   margin-top: -1px;
   float: none; 
  
}

/* Styling the basic apperance of the menu elements */
#primary-nav a { 
   display: block; 
   margin: 0px;   
   text-decoration: none;   
}
#primary-nav li a {     
	padding:0 9px 0 0;	
	background: url(../img/list-icon.gif) 5px 8px no-repeat;
	text-indent:12px;
	font-size:13px;

}
#primary-nav li li a { 
	padding:0 10px 0 0;	
	text-indent:5px;
	font-size:13px;
	background-image:none;
	
}
#primary-nav li a:hover {
   background-color: #105CB6; 
   color:#FFF;
   display:block;
   background-image:none;
 
}
#primary-nav li li a { 


}
#primary-nav li li a { 
  
 z-index:1;
}	
#primary-nav li li, #primary-nav li li.menuparent { 
  background-color: #D6E6FF; 
 
  background-image:none;
 
}

/* Styling the basic apperance of the active page elements (shows what page in the menu is being displayed) */

#primary-nav li.menuactive { 
   background-color: #C7C7C7; 
   background-image:none;
}


/* Styling the basic apperance of the menuparents - here styled the same on hover (fixes IE bug) */
#primary-nav ul li.menuparent, 
#primary-nav ul li.menuparent:hover, 
#primary-nav ul li.menuparenth { 
/* arrow for menuparents */
   background-image:none;
   background-position: center right; 
   background-repeat: no-repeat; 
}


/* Styling the apperance of menu items on hover */

#primary-nav li:hover,  #primary-nav li li:hover, 
#primary-nav li.menuh, 
#primary-nav li.menuparenth, 
#primary-nav li.menuactiveh { 
   background-color: #105CB6; 
   background-image:none;
   
  
}
#primary-nav li:hover a.top,#mk li:hover a.menuparent
{
	color:#FFF;
}

/* The magic - set to work for up to a 3 level menu, but can be increased unlimited */

/* 
just add 
#primary-nav li:hover ul ul, 
#primary-nav li.menuparenth ul ul ul,
for fourth level 
*/
#primary-nav ul, 
#primary-nav li:hover ul, 
#primary-nav li:hover ul ul, 
#primary-nav li.menuparenth ul, 
#primary-nav li.menuparenth ul ul { 
   margin-left:-9999px;
   z-index:9;
   
}

/* add 
#primary-nav ul ul ul li:hover ul, 
#primary-nav ul ul ul li.menuparenth ul,
for fourth level
*/
#primary-nav li:hover ul, 
#primary-nav ul li:hover ul, 
#primary-nav ul ul li:hover ul, 
#primary-nav li.menuparenth ul, 
#primary-nav ul li.menuparenth ul, 
#primary-nav ul ul li.menuparenth ul { 
   display: block;   
   margin-left:-9999px;
}

#primary-nav ul, 
#primary-nav li:hover ul, 
#primary-nav li:hover ul ul, 
#primary-nav li:hover ul ul ul, 
#primary-nav li:hover ul ul ul ul, 
#primary-nav li:hover ul ul ul ul ul, 
#primary-nav li.menuparenth ul, 
#primary-nav li.menuparenth ul ul, 
#primary-nav li.menuparenth ul ul ul,
#primary-nav li.menuparenth ul ul ul ul
{ 
  
   margin-left:-9999px;
}
#primary-nav li:hover ul, 
#primary-nav ul li:hover ul, 
#primary-nav ul ul li:hover ul, 
#primary-nav ul ul ul li:hover ul, 
#primary-nav ul ul ul ul li:hover ul, 
#primary-nav ul ul ul ul ul li:hover ul, 
#primary-nav li.menuparenth ul, 
#primary-nav ul li.menuparenth ul, 
#primary-nav ul ul li.menuparenth ul, 
#primary-nav ul ul ul li.menuparenth ul, 
#primary-nav ul ul ul ul li.menuparenth ul, 
#primary-nav ul ul ul ul ul li.menuparenth ul
{ 
   display: block; 
   margin-left:0px;
}
#primary-nav li:hover  a.mtop-item{ color:#fff}
#primary-nav li:hover #mk_g li  a.mtop-item{ color:#0331c4}
#primary-nav li:hover #mk_g li:hover  a.mtop-item{ color:#fff}
/* IE Hacks */
#primary-nav li li { 
   float: left; 
   clear: both; 
}
#primary-nav li li a { 
   height: 1%; 
}

#primary-nav li:hover  a.mtop-item{ color:#fff}
#primary-nav li:hover #mk_g li  a.mtop-item{ color:#0331c4}
#primary-nav li:hover #mk_g li:hover  a.mtop-item{ color:#fff}

/* End of 'Navigation: CSSMenu - Horizontal' */

#mk ul li ,#m70 ul li  ,#m49 ul li ,#m48 ul li ,#m33 ul li,#m43 ul li,#m44 ul li,#m30 ul li,#m28 ul li,#m26 ul li,#m22 ul li,#m22 ul li,#m16 ul li,#m13 ul li,#m71 ul li
{
   float:left;
	clear: none; 
	border:none;
}


#m48 ul,#m44 ul,#m28 ul,#m49 ul,#m70 ul
{
	width:300px;	
	background:#D6E6FF;	
	margin-top:-2px;
}
#m33 ul,#m44 ul,#m30 ul,#m16 ul,#m13 ul,#m22 ul,#m43 ul
{
	width:200px;	
	background:#D6E6FF;
	border: 1px solid #A0B3D9;
}
#m26 ul,#m71 ul
{
	width:100px;	
	background:#D6E6FF;
	border: 1px solid #A0B3D9;
}
#mk_g
{
	width:600px;
	float:left;
	background:#D6E6FF;
	position:relative;
	left:100px;
	border:1px solid #A0B3D9;
	
	
}

#primary-nav #mk_g li a
{
	border:0px;
	height:20px;
	font-size:13px;
	
}
#mk_g li ul li a,#mk_g li ul ,#mk_g li ul li,#mk_g li
{
	
	background:#FCEDC4;
	
	
	
}
#primary-nav #mk_g li ul 
{
	width:200px;
	float:left;
	background:#FCEDC4;
	border:1px solid #FFB64B;
	padding-top:3px;
	margin-top:3px;
	
}
#primary-nav #mk #mk_g li ul li a
{
	color:#ff3300;	
	display:block;
}

#primary-nav #mk_g li:hover ul 
{	
	margin-left:60px;
	margin-top:-5px;
	
}
.mk_g
{
	width:600px;
	float:left;
	background:#D6E6FF;
	position:relative;
	left:100px;
	border:1px solid #A0B3D9;
	
	
}
#primary-nav #o_make_lnk{     
	
	background: url(../img/down_arr.gif) 120px 1px no-repeat;	
	color:#C83D14;
	

}

#ajax_menu1,#ajax_menu2
{
	position:absolute;background:#EFF4FD;border:1px solid #A0B3D9;padding:0px;
	display:none;
	z-index:99999;
	margin-top:-3px;
}
#ajax_menu2 a,#ajax_menu2 a:link,#ajax_menu2 a:visited,.amenu a
{
	text-decoration:none;
}
#ajax_menu2 {left:80px}
.amenu a
{
	display:block;
	width:100px;
	float:left;
	height:20px;
	text-indent:5px;
	text-decoration:none;
}
.amenu a:hover
{
	 background-color: #105CB6; 
	 color:#fff;
	 text-decoration:none;
}

/*15/07/2014 added --------------------------- */

.sub-nav, .sub-nav ul { 
   list-style: none; 
   margin: 0px; 
   padding: 0px; 
}
.sub-nav ul { 
   position: absolute; 
   top: auto; 
   display: none; 
   border:1px solid #A0B3D9;
   margin-top:15px;
}	
.sub-nav li { 
   margin-left: -1px;
   float: left; 	
}
.sub-nav li li { 
   margin-left: 0px;
   margin-top: -1px;
   float: none;   
}
/* Styling the basic apperance of the menu elements */
.sub-nav a { 
   display: block;   
   margin: 0px;   
   text-decoration: none;   
}
.sub-nav li a {     
	padding:0 ;	
	background: url(../img/list-icon.gif) 5px 6px no-repeat;
	text-indent:12px;
	font-size:13px;
}
.sub-nav li li a { 
	padding:0 10px 0 0;	
	text-indent:5px;
	font-size:13px;
	background-image:none;	
}
.sub-nav li a:hover {
   background-color: #105CB6; 
   color:#FFF;
   display:block;
   background-image:none;
}

.sub-nav li li a {  
 z-index:1;
}	
.sub-nav li li, .sub-nav li li.menuparent { 
  background-color: #D6E6FF;  
  background-image:none; 
}
.sub-nav li.menuactive { 
   background-color: #C7C7C7; 
   background-image:none;
}
.sub-nav ul li.menuparent, 
.sub-nav ul li.menuparent:hover, 
.sub-nav ul li.menuparenth { 
/* arrow for menuparents */
   background-image:none;
   background-position: center right; 
   background-repeat: no-repeat; 
}
/* Styling the apperance of menu items on hover */
.sub-nav li:hover,  .sub-nav li li:hover, 
.sub-nav li.menuh, 
.sub-nav li.menuparenth, 
.sub-nav li.menuactiveh { 
   background-color: #105CB6; 
   background-image:none; 
}
.sub-nav li:hover a.top,#mk li:hover a.menuparent
{
	color:#FFF;
}
.sub-nav ul, 
.sub-nav li:hover ul, 
.sub-nav li.menuparenth ul { 
   margin-left:-9999px;
   z-index:9;  
}

.sub-nav li:hover ul, 
.sub-nav li.menuparenth ul{ 
   display: block;   
   margin-left:-9999px;
}

.sub-nav ul, 
.sub-nav li:hover ul,  
.sub-nav li.menuparenth ul
{
   margin-left:-9999px;
}
.sub-nav li:hover ul, 
.sub-nav li.menuparenth ul
{ 
   display: block; 
   margin-left:0px;
}

/* IE Hacks */
.sub-nav li li { 
   float: left; 
   clear: both; 
}
.sub-nav li li a { 
   height: 1%; 
}
#exteriorcolor_group .sub-nav ul li a
{
   width:80px;
   height:20px;
}
#bodystyle_group .sub-nav ul li a
{
   width:120px;
   height:20px;
}
#exteriorcolor_other,#bodystyle_other{padding-right:16px}